body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', serif;
    font-size: 200%;
}

h2 {
    font-family: 'Montserrat', serif;
    font-size: 175%;
    font-style: italic;
}

h3 {
    font-family: 'Montserrat', serif;
    font-size: 150%;
}

header {
    width: 100%;
    height: 160px;   
}

#headerlogo {
    height: 150px;
    float: left;
    padding-left: 5%;
}

.nav ul {
    font-family: 'Pacifico', sans-serif;
    font-weight: 600;
    font-size: 133%;
    float: right;
    padding-right: 3%;
    padding-top: 4em;
}

.nav li {
    list-style-type: none;
    display: inline;
    padding: 1em;
}

a.current:link {
    color: #e1ae45;     
}
a.current:active {
    color: #e1ae45;     
}
a.current:visited {
    color: #e1ae45;     
}

a:active, a:visited, a:link {
    text-decoration: none;
    color: #88242C;
}

a:hover {
    color: #e1ae45;
}

/*.intro {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10 px;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
*/

.intro {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10 px;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: #88242C;
    color: white;
    border-top: 4px solid #e1ae45;
    border-bottom: 4px solid #e1ae45;
}

.button {
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,.3);
    background-color: #e1ae45;
    border-radius: 8px;
    display: inline-block;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 20px;
    margin: 1em;
    text-decoration: none;
    position: relative;
    font-style: italic;
}

.button:hover {
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,.3);
    color: rgba(137, 36, 45, .8);
    background-color: rgba(225,174, 69, 1);
    text-decoration: none;
    font-style: italic;
}


.home-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    }

.home-content-image {
    width: 20em;
    height: 20em;
    margin: 1em;
    margin-bottom:30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.7);
}

.image-caption {
    margin: auto;
    font-family: "Montserrat", serif;
}

#profile-image-caption {
    text-align: center;
    position: relative;
    bottom: 1.5em;
    font-family: 'Pacifico', cursive;
}

#about-profile-image-wrapper {
    width: 12em;
    height: 14em;
    border-style: solid;
    border-width: .5px;
    float: left;
    margin: 1em 2em 1em 0em;
    background-color: white;
    padding: 1em 1em 1em 1em;
    transform: rotate(-6deg);
    box-shadow: 10px 10px 5px 1px rgb(201, 200, 200);
}

#about-profile-image {
    width: 12em;
    height: 12em;
    border-style: none;
    margin: auto auto 2em auto;
    position: relative;
}

#profile_image {
    margin: auto;
    width: 12em;
    height: auto;

}


.about {
    width:90%;
    margin: auto;
}

footer {
    width: 100%;
    height: auto;
    background-color: #88242C;   
    position: relative;
    bottom: 0;   
    border-top: 6px solid #e1ae45;
}

#footer-copy {
    padding: .5em;
    text-align: center;
    color:white;
    position: relative;
    font: 'Roboto', sans-serif;
    font-style: italic;
}

footer a, footer a:visited, footer a:active {
    color:white;
}

footer a:hover{
    color: #e1ae45;
    text-decoration: underline;
}

.icon {
    width: 40px;
    height: auto;
    display: inline-block;
    box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.7);

}